.container {
    width: 50%;
    height:50px;
    background-color: aqua;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;

    

}

.button {
    color: white;
    background-color: red;
}